/*!
 *  CATBOX
 */
/* 
 * -------------------------- */

.panel-title {
	font-size: 2em;
}

.ss {

	font-size: 120%;
	font-weight: normal;
	font-style: normal;
}

.logo{
	margin-bottom: 40px;
	max-width: 240px;;
}


.jumbotron {
	padding: 4px;
}

.jumbotron .col-md-6 {
	padding-left: 0;
}


/*deprecated*/
.cc {
	background-color: silver;
	height: 40px;
}